* {
    margin: 0;
    padding: 0;box-sizing: border-box;
}

body {
    background-image: url(./images/pexels-media-1103970.jpeg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: sans-serif;
    width: 100vw;
    height: 100vh;
    margin: auto;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    backdrop-filter: blur(.5rem);
    box-shadow: 0  0 10px rgba(0, 0, 0, .2);
    border-radius: .5rem;
    padding: 2rem 4rem;
    line-height: 3.8rem;
}

input {
    padding: .8rem 1rem;
    border-radius: 2rem;
    border: 0;
    outline: none;
    background: transparent;
    box-shadow: 0  0 10px rgba(0, 0, 0, .4);
}

#submit {
    background-color: white;
    padding:.5rem 3rem ;
    border-radius: 5rem;
    border: 0;
    font-weight: bold;
}
#submit:hover {
    background-color: rgb(180, 165, 165);
    cursor: pointer;
}

#displayStrength {
    border: 0;
    display: block;
    background-color: transparent;
}

.fgt-password {
    display: flex;
    flex-direction: column;
    margin-top: -1rem;
}
.fgt-password:hover a {
    color: white;
    cursor: pointer;
}

a {
    font-size: .7rem;
    color: black;
}

footer {
    font-size: .6rem;
}